/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);

  span {
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
}
